html {
  font-size: 62.5%;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  color: #333;
  background-color: #f7f8f9;
  scroll-behavior: smooth;
}

img {
  width: 100%;
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.mt-30 {
  margin-top: 30px;
}

.text-center {
  text-align: center;
}

.btnWrapper {
  font-size: 1.6rem;
  font-weight: bold;
}
.btnWrapper__btn {
  background: #ff9900;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 999px;
  color: #fff;
  max-width: 200px;
  width: 80%;
  height: 51px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}
.btnWrapper__btn .small {
  font-size: 1.2rem;
  padding-bottom: 0.2rem;
}

.buyBtn {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #67a8e3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #67a8e3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #67a8e3 -9.29%, #86c5ff 160.71%);
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  width: 150px;
  height: 36px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 999px;
  color: white;
  font-weight: bold;
  font-size: 1.4rem;
}

.commonHeading2 {
  border-left: 20px solid #fff;
  padding-left: 3rem;
}
.commonHeading2 .main {
  font-size: 4rem;
  font-weight: bold;
  color: #fff;
}
.commonHeading2 .sub {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  padding: 0 0 1.6rem 0;
}

.designedHeading {
  position: relative;
}
.designedHeading .sub-bg {
  background-color: #6eb4f4;
  position: absolute;
  height: 100%;
  top: -15%;
  width: 90%;
  z-index: 1;
  border-radius: 0 40px 40px 0;
}
.designedHeading .main-bg {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #677be3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #677be3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
  z-index: 10;
  position: relative;
  width: 90%;
  margin-left: 10%;
  padding: 50px 100px;
  border-radius: 40px 0 0 40px;
}

.header {
  position: fixed;
  width: 100%;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  background-color: rgba(255, 255, 255, 0.1);
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  z-index: 1000;
}
.header .h-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  max-width: 1100px;
  margin: auto;
}
.header .h-nav__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 5rem;
  margin: 0 50px;
}
.header .h-nav__wrapper--item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .h-nav__wrapper--item a {
  font-size: 1.4rem;
  font-weight: bold;
}
.header .hamburger-menu {
  display: none;
}

.footer {
  background-color: #333;
  height: 80px;
  display: grid;
  place-items: center;
}
.footer small {
  color: #fff;
  font-size: 1.4rem;
}

@media screen and (max-width: 700px) {
  .commonHeading2 .main {
    font-size: 2.4rem;
  }
  .commonHeading2 .sub {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .designedHeading .sub-bg {
    border-radius: 0 20px 20px 0;
  }
  .designedHeading .main-bg {
    padding: 4rem 2rem;
    border-radius: 20px 0 0 20px;
    line-height: 2rem;
  }
  .header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: end;
        -ms-flex-pack: end;
            justify-content: end;
    background-color: initial;
    -webkit-backdrop-filter: initial;
            backdrop-filter: initial;
    padding-right: 10px;
    height: 60px;
  }
  .header .h-nav {
    display: none;
  }
  .header .hamburger-menu {
    display: block;
  }
  .btnWrapper__btn {
    width: 100%;
  }
}
.c-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90vh;
}
.c-container__left {
  width: 40%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #677be3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #677be3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
  text-align: center;
}
.c-container__left--picture img {
  height: 100%;
  width: 70%;
  -o-object-fit: contain;
     object-fit: contain;
}
.c-container__right {
  width: 60%;
  position: relative;
}
.c-container__right--textarea {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding-left: 50px;
}
.c-container__right--textarea .main_title {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #677be3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #677be3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 6.4rem;
  font-weight: 900;
}
.c-container__right--textarea .sub_title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 24px;
  margin-left: 30px;
}
.c-container__right--textarea .sub_title__text {
  font-size: 3.2rem;
  font-weight: bold;
  color: #000;
}
.c-container__right--textarea .sub_title__circle {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}
.c-container__right--textarea .sub_title__circle--list {
  width: 90px;
  height: 90px;
  border-radius: 999px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  background: -webkit-linear-gradient(45deg, #677be3, #86c5ff);
  background: linear-gradient(45deg, #677be3, #86c5ff);
  display: grid;
  place-items: center;
}
.c-container__right--textarea .sub_title__circle--list .wrapper {
  background-color: #fff;
  border-radius: 999px;
  width: 86px;
  height: 86px;
  place-items: center;
  display: grid;
}
.c-container__right--textarea .sub_title__circle--list .wrapper .text {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #677be3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #677be3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  line-height: 1.8rem;
}

.about {
  background-color: #679aca;
  padding: 15vh 0;
}
.about .a-wrapper {
  max-width: 1000px;
  margin: auto;
}
.about .a-wrapper__box {
  background-color: #fff;
  border-radius: 20px;
  padding: 40px 20px;
  margin: 120px auto;
}
.about .a-wrapper__box--top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.about .a-wrapper__box--top span {
  width: 10%;
  font-size: 3rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .a-wrapper__box--top p {
  width: 90%;
  font-size: 1.6rem;
  line-height: 3rem;
}
.about .a-wrapper__box--bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: auto;
}
.about .a-wrapper__box--bottom picture {
  width: 30%;
}
.about .a-wrapper__box--bottom p {
  width: 70%;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #677be3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #677be3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 4rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.about .a-wrapper__textarea {
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: 300;
  line-height: 3.2rem;
}

.feature {
  margin: 120px auto;
}
.feature .f-wrapper {
  max-width: 1000px;
  margin: auto;
  text-align: center;
}
.feature .f-wrapper__heading2 {
  font-size: 3.6rem;
  font-weight: bold;
  color: #fff;
  display: inline-block;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #677be3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #677be3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
  padding: 8px 100px;
}
.feature .f-wrapper__lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 96px auto;
}
.feature .f-wrapper__lists--card {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 30px 50px;
}
.feature .f-wrapper__lists--card span {
  font-size: 6rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #677be3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #677be3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
.feature .f-wrapper__lists--card .title {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #677be3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #677be3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
  line-height: 2.8rem;
  margin-top: 2rem;
}

.flow .fl-wrapper {
  max-width: 1000px;
  margin: 120px auto;
}
.flow .fl-wrapper__title {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #677be3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #677be3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 2.4rem;
  font-weight: bold;
  display: block;
  text-align: center;
  border-bottom: 2px solid #677be3;
  padding: 6px 0;
}
.flow .fl-wrapper__lists {
  margin: 96px 0;
}
.flow .fl-wrapper__lists--card {
  width: 100%;
  margin: 120px auto;
}
.flow .fl-wrapper__lists--card .text_wrapper {
  width: 78%;
  margin: auto;
}
.flow .fl-wrapper__lists--card .title .main {
  font-size: 3.2rem;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 68, 68, 0.61)), to(rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, rgba(68, 68, 68, 0.61) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(180deg, rgba(68, 68, 68, 0.61) 0%, rgba(0, 0, 0, 0.8) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: block;
  margin: 1.6rem 0 3.2rem;
}
.flow .fl-wrapper__lists--card .title .step {
  font-size: 1.6rem;
  font-weight: bold;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #677be3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #677be3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
  border-radius: 10px;
  display: inline-block;
  color: #fff;
  padding: 10px 20px;
}
.flow .fl-wrapper__lists--card .description {
  font-size: 1.6rem;
  line-height: 2.8rem;
}
.flow .fl-wrapper__lists--card .items {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 72px auto;
  gap: 36px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.flow .fl-wrapper__lists--card .items__card {
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  padding: 30px 50px;
  width: 250px;
}
.flow .fl-wrapper__lists--card .items__card--title {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #677be3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #677be3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.6rem;
}
.flow .fl-wrapper__lists--card .items__card picture img {
  height: 250px;
  -o-object-fit: contain;
     object-fit: contain;
}
.flow .fl-wrapper__lists--card .items__card--description {
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  font-weight: bold;
  margin-top: 1.6rem;
}

.data .d-wrapper {
  max-width: 1000px;
  margin: 120px auto;
}
.data .d-wrapper__text {
  font-size: 1.6rem;
  text-align: center;
  line-height: 3rem;
}
.data .d-wrapper__table {
  margin: 96px auto 36px;
}
.data .d-wrapper__table--text {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
}
.data .d-wrapper__table--text .system {
  width: 73%;
  color: #e36767;
  border-bottom: 6px solid #e36767;
  padding-bottom: 6px;
}
.data .d-wrapper__table--text .pulldown {
  width: 27%;
  color: #86c5ff;
  border-bottom: 6px solid #86c5ff;
  padding-bottom: 6px;
}
.data .d-wrapper__info {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #677be3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #677be3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
  border-radius: 16px;
  text-align: center;
  padding: 16px 20px;
  width: 80%;
  margin: auto;
}
.data .d-wrapper__info .text {
  color: #fff;
  font-size: 2.8rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1.6rem;
}
.data .d-wrapper__info .sub {
  color: #fff;
  font-size: 1.4rem;
  font-weight: bold;
}

.comparison .c-wrapper {
  max-width: 1000px;
  margin: 120px auto;
}
.comparison .c-wrapper__text {
  font-size: 1.6rem;
  line-height: 3rem;
}
.comparison .c-wrapper__lists {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  gap: 24px;
  background: #ffffff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  padding: 50px;
  margin: 96px 0;
}
.comparison .c-wrapper__lists--item {
  margin: auto;
  text-align: center;
}
.comparison .c-wrapper__lists--item .img {
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}
.comparison .c-wrapper__lists--item .title {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #677be3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #677be3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
  color: #fff;
  font-size: 1.6rem;
  text-align: center;
  font-weight: bold;
  padding: 4px 24px;
  line-height: 2.4rem;
  display: inline-block;
  margin: 48px 0 0;
}
.comparison .c-wrapper__lists--item .title.comparison {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(68, 68, 68, 0.61)), to(rgba(0, 0, 0, 0.8)));
  background: -webkit-linear-gradient(top, rgba(68, 68, 68, 0.61) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(180deg, rgba(68, 68, 68, 0.61) 0%, rgba(0, 0, 0, 0.8) 100%);
}
.comparison .c-wrapper__lists--item .box {
  margin: 36px auto;
}
.comparison .c-wrapper__lists--item .box .heading {
  color: #679aca;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 8px;
}
.comparison .c-wrapper__lists--item .box .text {
  font-size: 2rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #677be3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #677be3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: bold;
  line-height: 3rem;
}
.comparison .c-wrapper__lists--item .box .text.comparison {
  color: #333;
  background: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  background-clip: initial;
  text-fill-color: initial;
}
.comparison .c-wrapper__lists--item .box .sub {
  font-size: 1.6rem;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-9.29%, #677be3), color-stop(160.71%, #86c5ff));
  background: -webkit-linear-gradient(bottom, #677be3 -9.29%, #86c5ff 160.71%);
  background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  font-weight: bold;
  line-height: 2.8rem;
}
.comparison .c-wrapper__lists--item .box .sub.comparison {
  color: #333;
  background: initial;
  -webkit-background-clip: initial;
  -webkit-text-fill-color: initial;
  background-clip: initial;
  text-fill-color: initial;
}

.purchase {
  background-color: #679aca;
  padding: 15vh 0;
}
.purchase .p-wrapper {
  max-width: 1000px;
  margin: auto;
}
.purchase .p-wrapper__container--item {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  width: 50%;
  max-width: 400px;
  margin: 120px auto;
  text-align: center;
  padding: 40px;
}
.purchase .p-wrapper__container--item .picture img {
  width: 60%;
}
.purchase .p-wrapper__container--item .title {
  font-size: 1.6rem;
  font-weight: bold;
  text-align: center;
  margin: 24px auto;
}/*# sourceMappingURL=style.css.map */