.comparison {
  .c-wrapper {
    max-width: 1000px;
    margin: 120px auto;

    &__text {
      font-size: 1.6rem;
      line-height: 3rem;
    }

    &__lists {
      display: flex;
      gap: 24px;
      background: #ffffff;
      box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05);
      border-radius: 30px;
      padding: 50px;
      margin: 96px 0;

      &--item {
        margin: auto;
        text-align: center;

        .img {
          height: 200px;
          object-fit: contain;
        }

        .title {
          background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
          color: #fff;
          font-size: 1.6rem;
          text-align: center;
          font-weight: bold;
          padding: 4px 24px;
          line-height: 2.4rem;
          display: inline-block;
          margin: 48px 0 0;

          &.comparison {
            background: linear-gradient(
              180deg,
              rgba(68, 68, 68, 0.61) 0%,
              rgba(0, 0, 0, 0.8) 100%
            );
          }
        }

        .box {
          margin: 36px auto;
          .heading {
            color: #679aca;
            font-size: 1.6rem;
            font-weight: bold;
            margin-bottom: 8px;
          }

          .text {
            font-size: 2rem;
            background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            font-weight: bold;
            line-height: 3rem;

            &.comparison {
              color: #333;
              background: initial;
              -webkit-background-clip: initial;
              -webkit-text-fill-color: initial;
              background-clip: initial;
              text-fill-color: initial;
            }
          }

          .sub {
            font-size: 1.6rem;
            background: linear-gradient(0deg, #677be3 -9.29%, #86c5ff 160.71%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            font-weight: bold;
            line-height: 2.8rem;

            &.comparison {
              color: #333;
              background: initial;
              -webkit-background-clip: initial;
              -webkit-text-fill-color: initial;
              background-clip: initial;
              text-fill-color: initial;
            }
          }
        }
      }
    }
  }
}
